@font-face {
  font-family: digital;
  src: url(DIGITALDREAMFAT.ttf)
}

@font-face {
  font-family: bevan;
  src: url(Bevan-Regular.ttf)
}

@font-face {
  font-family: oswald;
  src: url(Oswald-VariableFont_wght.ttf)
}


html, body, .container-fluid {
  width: 100vw;
  height: 100h;
  background-color: indianred; 
}

.container-fluid {
  text-align: center;

}

h1 {
  margin-top: 5%;
  font-family: bevan;
  color: white;
  font-size: 48px
}

.but {
  border-radius: 0;
  background-color: white;
  color: indianred;
  font-family: bevan;
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

#timer-label {
  font-family: oswald;
  font-size: 30px;
  font-weight: 700

}

#time-left {
  font-family: digital;
}

#start_stop, #reset, #break-label, #session-label {
  
  color: white;
  font-size: 28px;
  font-family: oswald;
  font-weight: 400;
}

#break-length, #session-length {
  
  color: white;
  font-size: 24px;
  font-family: bevan;
}

#conBox {
  border: 5px dotted white;
  width: 400px;
  display: inline-block
}

h3 {
  margin-top: 6%;
  font-weight: 100;
}
h3, h5, a {
  color: white;
  font-family: oswald;
  
}

h5 {
  font-size: 18px;
  font-weight: 300;
}
a {
  font-weight: 700;
}

a:hover {
  color: violet
}